.activeArea{
   position: absolute;
   top: 30px;
   bottom: 30px;
   right: 0px;
   margin: 10px;
   width: 70%;
   border: 2px dashed darkblue;
   pointer-events: none;
   z-index: 1000;
}