/* apply a natural box layout model to all elements, but allowing components to change */
html {
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}

html, body, #root, .App, #mapId {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.App {
   font-family: Arial, Helvetica, sans-serif;
}