/* --------------------------------------------------- */
/*      Global Layout Styles                                 */
/* --------------------------------------------------- */

$linkcolor: #0078A8;

html, body, #root, .App, #mapId {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.App {
   font-family: Arial, Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: $linkcolor;
}
a:visited {
   color: $linkcolor;
}
a:hover {
   text-decoration: underline;
}

button.btn {
   cursor: pointer;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
}

button.btn-link {
   background-color: white;
   color: $linkcolor;
   border: none;
   cursor: pointer;
   padding: 0;
   margin: 0;
   font: inherit;

   &:hover{
      text-decoration: underline;
   }

   &.menu {
      display: block;
      margin-bottom: 1em;
      margin-left: 1em;

      &:last-child{
         margin-bottom: 2em;
      }
   }
}




/* --------------------------------------------------- */
/*      Layout Styles                                 */
/* --------------------------------------------------- */

.UIOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin: 10px;
  z-index: 10000;
  pointer-events: none;

  & >* {
    pointer-events: auto;
  }
  
}


.ActiveArea {
  border: 2px dotted blue;
}





/* --------------------------------------------------- */
/*      Sidebar Styles                                 */
/* --------------------------------------------------- */

#leaflet-sidebar {
  position: relative;
  top: 0px;
  left: 0px;
}
button.sidebar-tab-button svg {
   height: 14px;
   width: 14px;
}
.sidebar-content {
   border-left: 1px solid lightgray;
}
h3 {
   border-bottom: 1px solid black;
}
.external-controls-collection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   & > * {
      flex-basis: 0.3;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .full-width{
      flex-basis: 100%;
      margin-top: 10px;
   }
}

.toggle-active-area {
   display: block;
   width: 100%;
   margin-top: 5px;
}
