.App {
  font-family: sans-serif;
  text-align: center;
}

html, body, #root, .App, #mapId{
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
}

.App{
   position: relative;
}

#mapId {
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 0;
}

#placeRandomMarkerButton{
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1000000;
  font-size: 1.5em;
}

ul {
   padding: 5px 10px 5px 25px;
   background-color: #ededed;
}

li{
   margin: 10px 0px;
}

code{
   background-color: #ededed;
   font-weight: bold;
}