.ExternalComponents{
   position: absolute;
   top: 30px;
   bottom: 30px;
   left: 40px;
   width: 22%;
   margin: 10px;
   padding: 10px;
   background-color: rgba(255,255,255,0.5);
   z-index: 1000;
   font-family: sans-serif;
   font-size: 0.8em
}

.ExternalComponents h4{
   margin: 0px;
}